/* CSS Reset: http://meyerweb.com/eric/tools/css/reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************/

#main {
    width: 960px;
    margin: 0px auto;
}

#body{
    font-family: Verdana, sans-serif;
    /* font-family: Arial, sans-serif; */
    color: #2e2e2e;
}

p {
    font-size: 16px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #4a85c8;
}

a:hover {
    border-bottom: 1px solid #4a85c8;
}

i {
    font-style: italic;
}

h1 {
    font-size: 26px;
    line-height: 24px;
    width: 100%;
    margin: 30px auto 20px 30px;
    color: #003373;
}

/**************************************************/

#header {
    height: 58px;
    font-size: 16px;
    line-height: 58px;
    padding-top: 42px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding-right: 30px;
}

#header a {
    text-decoration: none;
    border-bottom: none;
    color: #494949;
}

#header a:hover {
    color: #4a85c8;
}

/**************************************************/

#profile {
    padding: 30px 30px 10px 30px;
    border-bottom: 1px solid #ddd;
}

#profile-pic {
    float: left;
    margin-right: 40px;
    text-align: center;
}

#profile img {
    width: 220px;
    border-radius: 10px;
    margin-bottom: 18px;
}

#profile-name {
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #003373;
}

#profile p {
    margin-bottom: 20px;
}

/**************************************************/

.recent-work {
    height: 200px;
    width: 900px;
    padding-bottom: 35px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 30px auto 30px 30px;
}

.slider {
    width: 2100px;
}

.slider a:hover {
    border: none
}

.slider img {
    height: 205px;
    border-radius: 10px;
    margin-right: 20px;
}

.slider video {
    height: 205px;
    border-radius: 10px;
    margin-right: 20px;
  }

.recent-work::-webkit-scrollbar {
    background: none;
    height: 8px;
}

.recent-work::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 4px;
    margin-left: 240px;
    margin-right: 240px;
}

.recent-work::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.recent-work::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/**************************************************/

.divider {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

/**************************************************/

ul {
    font-size: 16px;
    line-height: 24px;
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #494949;
}

.showBtn {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    float: left;
}

.showBtn a {
    color: #003373;
    cursor: pointer;
}

.showBtn a:hover {
    border-bottom: 1px solid #003373;
}

#moreNews {
    display: none;
}

#lessNewsBtn {
    display: none;
}

#moreTalks {
    display: none;
}

#lessTalksBtn {
    display: none;
}

/**************************************************/


h3 {
    margin-left:  30px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom:  15px;
}

#repBtn {
    color: #49bf9d;
    display: inline;
    text-decoration: none;
    border-bottom: 1px solid #a4dfce;
}

#repBtn a {
    color: inherit;
}

#repBtn a:hover {
    color: #49bf9d;
}

#showAllBtn {
    color: #191e3f;
    display: inline;
    text-decoration: none;
}

#showAllBtn a {
    color: inherit;
}

#showAllBtn a:hover {
    color: #49bf9d;
}

/**************************************************/

.research {
    /*padding: 30px;*/
    /*padding-bottom: 30px;*/
}


.research-proj {
    margin-left: 30px;
    width: 100%;
    display: table;

}

.nonRep {
    display:  none;
}


.research-thumb {
    width: 160px;
    float: left;
    margin-top: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.research-thumb:hover {
    border-bottom: none;
}

.research-thumb img {
    width: 100%;
    border-radius: 5px;
}

.research-thumb video {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.research-proj-title {
    color: #003373;
    font-size: 16px;
    line-height: 26px;
}

.research-proj-title:hover {
    border-bottom: 1px solid #003373;
}

.research-proj p {
    font-size: 15spx;
    line-height: 22px;
}

.research-proj b {
    font-weight: 700;
}

.research-proj p strong {
    color: #fdc450;
    font-weight: 700;
}

#morePubs {
    display: none;
}

#morePubsBtn {
    margin-left: 30px;
}

#lessPubsBtn {
    display: none;
    margin-left: 30px;
}

/**************************************************/

.sponsors {
    margin-bottom: 120px;
}

.sponsors h1 {
    margin-bottom: 30px;
}

.sponsor-thumb img {
    margin-left: 70px;
    height: 50px;
}

.sponsor-thumb a:hover {
    border: none;
}

/**************************************************/

.people {
    padding-left: 30px;
}

.student-profile {
    width: 125px;
    float: left;
    text-align: center;
    margin: 0 30px 30px 0;
    font-size: 16px;
    line-height: 20px;
}

.student-profile p {
    color: #003373;
}

.student-profile p a {
    color: #003373;
}

.student-profile p a:hover {
    border-bottom: 1px solid #003373;
}

.student-profile img {
    width: 100%;
    border-radius: 10px;
}